body {
    font-size: 14px;
    line-height: 18px;
    color:#000000;
    font-family: PTSans, Arial, sans-serif;
    font-weight: bold;
}

h1.contant-title {
    font-size: 30px;
    line-height: 42px;        
    text-transform: uppercase;
}

.filter h2 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

span.catalog-item-title {
    text-transform: uppercase;
}
                        
a.button {
    text-transform: uppercase;
}